In [4]:
import pandas as pd

series_test = pd.Series([100, 200, 300])
series_test2 = pd.Series({1999: 48, 2000: 95, 2001: 34})

# series_test

series_test2

1999    48
2000    95
2001    34
dtype: int64

In [6]:
frame_test = pd.DataFrame({1999: [74, 38, 49],
                           2000: [56, 32, 20],
                           2001: [23, 54, 12]})

frame_test

   1999  2000  2001
0    74    56    23
1    38    32    54
2    49    20    12

In [12]:
frame_test2 = pd.DataFrame([[74, 38, 49],
                           [56, 32, 20],
                           [23, 54, 12]], columns=[1999, 2000, 2001])

# columns es para ponerles un "nombre" a la llave

frame_test2

   1999  2000  2001
0    74    38    49
1    56    32    20
2    23    54    12

In [ ]:
el_universal = pd.read_csv('webscrapper/')